<div class="bac">
    <div class="box">
        <div class="home-container">
<div class="title">
    <h1>
        {{symbole}} : {{currencyTitle}}
    </h1>
</div>
                <div class="left-form" >
                    <label for="inputAmount">Amount</label>
                    <input #amountInput class="form-control" type="number" placeholder="Inter Your Amount"> 
                </div>
                <div class="right-form">
                    <div>
                      <label for="Ainputmount">From</label>
                    <select  #fromInput class="form-select" aria-label="Default select example" disabled="true">
                      <option>{{symbole}}</option>
                     
                    </select>
                    </div>
                      <button class="btn-chang" (click)="exchangeCurrenciesSymbols(fromInput.value,toInput.value)"> <i class="fa fa-exchange"></i></button>
                     <div>
                      <label for="Ainputmount">To</label>
                      <select #toInput class="form-select" aria-label="Default select example">
                        <option  *ngFor="let item of currenciesSymbolsArray" value="{{item}}">{{item}}</option>
                      </select>
                     </div>
                </div>
              <div class="Form2-container">
                <div class="first-form">
                    <label class="txt-result" for="result">The Result</label>
                    <input class="form-control result" value={{convertResult}} type="number" readonly> 
                    <input class="form-control currency" value={{convertDiscribtion}} type="text" readonly> 
                  </div>
                <div class="secound-form">
                    <button class="convert" (click)="convertCurrencies(fromInput.value,toInput.value,amountInput.value)"> Convert</button>
                    
                </div>
              </div>
        </div>
            
    </div>
</div>
