<div class="bac">
    <div class="box">
        <div class="home-container">

                <div class="left-form" >
                    <label for="inputAmount">Amount</label>
                    <input class="form-control" type="text" placeholder="Inter Your Amount"> 
                </div>
                <div class="right-form">
                    <div>
                      <label for="Ainputmount">From</label>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    </div>
                      <button class="btn-chang"> <i class="fa fa-exchange"></i></button>
                     <div>
                      <label for="Ainputmount">To</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                     </div>
                </div>
              <div class="Form2-container">
                <div class="first-form">
                    <label class="txt-result" for="result">The Result</label>
                    <input class="form-control result" type="text" readonly> 
                    <input class="form-control currency" type="text" readonly> 
                </div>
                <div class="secound-form">
                    <button class="convert"> Convert</button>
                    <a class="Details"> More Details</a>
                </div>
              </div>
        </div>
            
    </div>
</div>
